@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Libre+Franklin:wght@400;600&family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply font-roboto;

  box-sizing: border-box;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  user-select: none; /* prevent dragging to select text unless specifically allowed */
}

input {
  user-select: revert;
}
